/vendor/
/composer.lock
/.idea/
/.vscode/
node_modules/
build/
coverage/
reports/
.DS_Store
Thumbs.db
*.log
*.tmp
*.zip
/dist/
/contrib/*.zip
/examples/*/vendor/
examples/*/.env*
/.env*
/cache/
/var/
/logs/