# OS & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# PHP Composer
/vendor/
composer.lock

# Symfony cache & logs
/var/cache/
/var/log/
/var/sessions/
/var/test/
/var/tmp/
/node_modules/

# PHPUnit
/phpunit.result.cache
/.phpunit.cache
coverage/

# Build & Artifacts
/build/
/dist/
/docs/export/
/*.zip
*.tar.gz

# Temporary files
*.tmp
*.bak
*.old

# Local environment
.env.local
.env.test.local
.env.*.local

# User data
/storage/